<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Intro</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue@3.0.2"></script>
</head>

<body>
    <h1>Hello, Vue</h1>

    <div id="app">
        <!-- v-if is for conditionals -->
        <div v-if="showBooks">

            <p>{{ title }} - {{ author }} - {{ age }}</p>

            <!-- v-on is a directive... :click makes it a directive for click events -->
            <!-- v-on is the same as @ -->

            <button v-on:click="age++">Increase age</button>
            <button v-on:click="age--">Decrease age</button>
            <div @click="changeTitle('Oathbringer')" class="changeBook">Change Book Title</div>

        </div>

        <button @click="toggleShowBooks" id="book-button">
            <span v-if="showBooks">Hide Books</span>
            <span v-else>Show Books</span>
        </button>

        <!-- v-show uses display:none, v-if/else actually affects appearance in the DOM -->
        <div v-show="showBooks">Currently showing books!</div>
    </div>

    <script src="app.js"></script>
</body>

</html>