<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Intro</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue@3.0.2"></script>
</head>

<body>
    <h1>Hello, Vue</h1>
    <h2>This website is strictly for learning vue concepts. Styling is only to remove visual clutter.</h2>

    <div id="app">

        <!-- Attribute Binding - using v-bind: will make the attached data attribute dynamic 
             This can also be done using just a colon - : is the shortcut-->
        <a v-bind:href="url" target="_blank" >My Portfolio!!</a>

        <!-- v-if is for conditionals -->
        <div v-if="showBooks">

            <p>{{ title }} - {{ author }} - {{ age }}</p>

            <!-- v-on is a directive... :click makes it a directive for click events -->
            <!-- v-on is the same as @ -->

            <button v-on:click="age++">Increase age</button>
            <button v-on:click="age--">Decrease age</button>
            <div @click="changeTitle('Oathbringer')" class="changeBook">Change Book Title</div>

            <br>
            <br>

            <ul>
                <!-- v-for functions as a loop -->
                <!-- For dynamic classes, can use key:value pairs -->
                <h2>Click to remove favourite books!</h2>

                <!-- Only displays books that are favourites, after being filtered. -->
                <li v-for="book in filteredBooks" :class="{ fav: book.isFav}" @click="toggleFav(book)">
                    <h3>{{ book.title }}</h3>
                    <p> {{ book.author }}</p>
                </li>
            </ul>
        </div>

        <button @click="toggleShowBooks" id="book-button">
            <span v-if="showBooks">Hide Books</span>
            <span v-else>Show Books</span>
        </button>

        <!-- v-show uses display:none, v-if/else actually affects appearance in the DOM -->
        <div v-show="showBooks">Currently showing books!</div>

        <br>
        <!-- Mouse Events -->
        <div class="box" @mouseover="handleEvent($event, 5)">mouseover (enter)</div>
        <div class="box" @mouseleave="handleEvent">mouseleave</div>
        <div class="box" @dblclick="handleEvent">double click</div>
        <div class="box" @mousemove="handleMousemove">position - {{x}} {{y}}</div>


    </div>

    <script src="app.js"></script>
</body>

</html>