/* Just so it isnt super ugly */


button{
    margin-top: 0.3rem;
}

.changeBook{
    margin-top: 1rem;
}

#book-button{
    margin-top: 3rem;
}

.box{
    padding: 100px 0;
    width: 400px;
    text-align: center;
    background-color: #ddd;
    margin: 20px;
    display: inline-block;
}